.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 2.5rem;
    border-radius: 5px;
    row-gap: 1rem;
    width: 30rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width:678px){
    .modal {
        display: flex;
        flex-direction: column;
        background: white;
        padding: 1.5rem;
        row-gap: 1rem;
        width: 20rem;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
}

}

.modalHeader {
    display: flex;
    justify-content: center;
}

.modalBody {
    text-align: center;
    font-size: 1.15rem;
}

.modalFooter {
    display: flex;
    gap: 1rem;
}

.modalFooter button {
    font-weight: 600;
    padding: 1rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    width: 100%;
    transition: var(--trantition);
    -webkit-transition: var(--trantition);
    -moz-transition: var(--trantition);
    -ms-transition: var(--trantition);
    -o-transition: var(--trantition);
}

.modalFooter button:active {
    transform: scale(0.96);
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -ms-transform: scale(0.96);
    -o-transform: scale(0.96);
}

.true {
    background-color: #1B2E5F;
    color: white;
    border: none;
}

.false {
    background: none;
    color: var(--primary-color);
    border: 2px solid black;
}



.toastContainer {
    position: fixed;
    top: 20px;
    gap: 12px;
    right: 20px;
    background-color: var(--primary-color);
    color: #fff;
    padding: 12px 12px 12px 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.toastMessage {
    flex-grow: 1;
    font-size: 1rem;
}

.closeButton {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.587);
    border: none;
    padding: 0 8px;
    margin:0;
    cursor: pointer;
    font-size: 18px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}